
  <div id="top" [@flyInOut]="'in'" style="z-index: -1">
  <video
    autoplay="autoplay" loop="loop" muted="" playbackRate = "0.5">
    <source src="assets/whiteboard-background.mp4" type="video/mp4">
  </video>
    <landing-masthead></landing-masthead>
    <landing-services></landing-services>
    <landing-projects></landing-projects>
    <landing-about></landing-about>
    <!-- <landing-team></landing-team> -->
    <!-- <landing-clients></landing-clients> -->
    <landing-contact></landing-contact>
</div>
