<!-- Services -->
<section id="services" style="background-color: rgba(255,255,255,.7);width: 80%;margin: 0 auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading ">We are a boutique web design and development company that focuses on small and medium sized companies.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-at fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Brand and Marketing</h4>
                <p class="">Brand management is the analysis and planning on how that brand is perceived in the market. Developing a good relationship with the target market is essential for brand management.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Design and Development</h4>
                <p class="">From concept to launch, Imagine Creative Thrive enjoys helping people bring their ideas and deams to life.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Product Demonstration and Placement</h4>
                <p class="">Get you product into your local area.  We cn show you how or create teams for you.</p>
            </div>
        </div>
    </div>
</section>
