<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading ">As small business owners ourselves, we understand the need for clean, smart and economical design patterns to get
          your product in front of as many people as possible. We would love to work with with your brand, from concept to
          product.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/images/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010-2013</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="">It's often said that 'necessity is the mother of invention.'' Our community came to us with many great ideas
                  that they wanted to present to the internet. We worked in standard templating, wordpress packages and helped
                  with technical issues.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image rounded-circle">
              <img class="rounded-circle img-fluid" src="assets/images/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013-2015</h4>
                <h4 class="subheading">Returning to the Basics</h4>
              </div>
              <div class="timeline-body">
                <p class="">As the fast moving design and development community continue to push forward with improvements, we jumped
                  on board gaining experience in search engine management and optimization, implimentation of the new HTML5/CSS3
                  stadards and started to move into the world of web development.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/images/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">An Agency is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="">Through working with other high profile digital product companies, we gained experience in many environments
                  and platforms.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
