.card {
  font-size: .8em;
  margin-left: 0;
  margin-right: 1em;
  width: 15em;
  min-width: 15em;
  box-shadow: 0px 5px 15px 0px darkred;
  cursor: pointer;
}

.card img {
  min-width: 30px;
  width: 40px;
  float:left;
}

.marked {
  border: 2px solid maroon;
  animation: marked 0.5s ease-out forwards;
}
@keyframes marked {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.25)
  }
  100% {
    transofrm: scale(1.1)
  }
}

.slideInRight {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media(min-width:768px) {
  .card {
    width: 12em;
    min-width: 12em;
    font-size: 1.2em;
    margin-left: 0;
  }
}
