<!-- Footer -->
<footer style="position: fixed;" [class.fixed]="navIsFixed">
  <div class="container" >
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Imagine Create Thrive 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="social-buttons social">
          <li class="list-inline-item">
            <a href="https://twitter.com/CreateThriv/">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/imaginecreatethrive/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company-beta/16263496">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.pinterest.com/imaginecreatethrive/">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
